.navbar-brand {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; !important
}

.container {
    max-width: 1200px;
}

.twentyfive-percent {
    max-width: 40%;
}

.sidebar-img {
    max-width: 49%;
}

.full-img {
    max-width:95%;
}
.half-img {
    max-width: 48%;
}
.body-bg{
    background-color: #D3D3D3;
}
@media screen and (min-width: 768px) {
    .sidebar-img {
        max-width: 100%;
    }

    .col-md-4 {
        flex:0 0 30%;
    }
}